* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: rgb(34, 46, 63);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:first-child{
    border-radius: 20px 0 0 0;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
background-color: #eee;
  display: none;
  /* padding: 100px 20px; */
  /* height: 100%; */
}

.planilla-container {
  display: flex;
  flex-wrap: wrap;
}


.planilla-item {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;
}



/* Media queries */
@media (max-width: 30em ){ /*30 x 16px = 480px*/

  table {
    width: 100%;
    font-size: .9em;
  }

  table tr{

    display: flex;
    flex-direction: column;
    border:  1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
  }

  table td[data-titulo] {
      display: flex;
  }

  table td[data-titulo]::before {
    content: attr(data-titulo);
    width: 90px;/*utilizar flex mejor*/
    color: darkblue;
    font-weight: bold;
}

  table thead{
    display: none;
  }






}