RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
#redirecciona cualquier url a index. Cada uno de parametros se va a cachear atraves del url
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]